/*FONTS*/
@font-face {
    font-family: yellowtail;
    src: url("../fonts/Yellowtail-Regular.ttf");
}
@font-face {
    font-family: cambo;
    src: url("../fonts/Cambo-Regular.ttf");
}
@font-face {
    font-family: openSans;
    src: url("../fonts/OpenSans-Regular.ttf");
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #1c1c1c;
	padding-right: 8rem;
	padding-left: 8rem;
	padding-bottom: 2rem;
}
.logo{
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-top: 2rem;
}
#logo-title{
	font-family: cambo;
	font-size: 2.5rem;
	color: white;
	text-shadow: 1px 1px #000000;
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}
#logo-slogan{
	font-family: "Arial";
	font-size: 0.75rem;
	opacity: 0.3;
	color: #ebebeb;
	margin: 0rem;
}
.search{
	padding-top: 2rem;
}
input[type="text"]{
	background-color: #1c1c1c;
    color: white;
    font-family: "Arial";
	font-size: .8rem;
	opacity: 0.3;

}
input[type="submit"]{
	background-color: #3e3e3e;
	font-family: "Arial";
	font-size: .8rem;
    color: white;
    border-radius: 1rem;
    border: none;
    padding: .4rem .7rem;
}
.banner {
	background: url("../images/banner.png") no-repeat;
	background-color: #000f30;
	height: 30rem;
}
#banner-only{
	position: absolute;
	color: white;
	font-family: cambo;
	font-size: 2.5rem;
	padding: 1rem 2rem;
	background: rgba(0, 0, 0, 0.8);
	margin-left: 34rem;
	margin-top: 8rem;
}
#banner-support{
	position: absolute;
	color: white;
	font-family: cambo;
	font-size: 1.7rem;
	padding: 1rem 1rem;
	background: rgba(4, 32, 62, 0.8);
	margin-left: 36rem;
	margin-top: 12.8rem;
}
main{
	background-color: #cdcdcd;
	display: flex;
	flex-direction: column;
}
.article-container{
	display: flex;
	flex-direction: wrap;
	margin-left: 8rem;
	margin-right: 8rem;
	margin-top: -8rem;
}
article{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
	border-top-right-radius: 2rem; 
	border-bottom-left-radius: 2rem;
	margin-right: .2rem;
	margin-left: .2rem;
	padding: 1rem 1rem;
}
article:hover .title{
	color: white;
}
article:hover .subtitle{
	color: white;
}
article:hover {
	background-color: #303030;
}
article:hover .more-btn{
	color: black;
	background-color: #dfdfdf;
}
.title{
	font-family: "Tahoma";
	font-size: 5rem;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 0rem;
}
.subtitle {
	font-family: yellowtail;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.text-blue{
	font-family: "Arial";
	font-size: 1rem;
	color: #2fb2eb;
	margin-bottom: 0rem;
}
.text-gray{
	font-family: "Arial";
	font-size: 1rem;
	color: #727272;
	margin-top: 0rem;
	text-align: center;
}
.more-btn{
	color: white;
	background-color: #5394b8;
	border-radius: 1rem;
	padding: .2rem 1rem;
	border: none;
}
.gray-box{
	display: flex;
	align-items: center;
	margin: 2rem 8rem;
	padding: 1rem 2rem;
	border-radius: 2rem;
	background-color: #b5b5b5;
}
.text-white{
	font-family: openSans;
	font-size: 1.3rem;
	color: white;
	text-align: left;
	padding-left: 15rem;
}
.btn-container{
	margin: 0rem 8rem 2rem;
}
footer{
	background-color: #2d2d2d;
	height: 5rem;
}
